
// App-wide variables
$max-width: 375px;
$dark-gray : #363636;
$light-gray: #f5f5f5;

// App-wide styles
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: $dark-gray !important;
  color: white !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-weight: 500;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    max-width: $max-width;
    margin: auto;

    .my-numbers {
      display: flex;
      flex-direction: column;
      gap: 0.5rem 0;

      .generate-plays-button {
        margin-top: 1rem;
      }
    }
  }
}

@import './components/number-card.scss';
@import './components/play-generator-modal.scss';